.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

h2 {
  position: sticky;
  top: 0px;
  background: #fff;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li {
  padding: 0.2rem;
  cursor: pointer;
}

li:hover {
  background-color: #efefef;
}
